/* พาเลตสีหลัก */
:root {
  --peach: #FCD8CD;
  --pink: #FEEBF6;
  --lavender: #EBD6FB;
  --blue: #687FE5;
}

/* Background and font main */
body {
  background: linear-gradient(180deg, var(--lavender), var(--lavender));
  font-family: "Prompt", sans-serif;
  color: #333;
  overflow-x: hidden;
}

/* Navbar */
.navbar-main {
  background-color: var(--blue);
  backdrop-filter: blur(6px);
}

.navbar-main .nav-link {
  color: #333;
  transition: color 0.3s ease;
}

.navbar-main .nav-link:hover {
  color: #2e3ba8;
}

.navbar-toggler {
  border: none;
}

/* Back Home Button */
.back-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background: var(--blue);
  padding: 10px 20px;
  border-radius: 25px;
  margin: 20px;
  transition: 0.3s ease;
}

.back-btn:hover {
  background: #5065d2;
}

/* Company Section */
.company-section h1 {
  color: var(--blue);
  font-weight: 700;
}

.company-section p {
  color: #555;
  line-height: 1.8;
}

/* Member section */
.member-section {
  background-color: var(--lavender);
  border-radius: 40px 40px 0 0;
}

.member-section h1 {
  color: var(--blue);
  font-weight: 700;
}

.team-member {
  background-color: var(--pink);
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s ease;
}

.team-member:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(65, 6, 175, 0.25);
}

.team-member img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid var(--blue);
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h5 {
  color: var(--blue);
  font-weight: 600;
}

.btn-custom {
  background-color: var(--blue);
  color: white;
  border-radius: 25px;
  padding: 6px 16px;
  border: none;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #5065d2;
}

/* Social section */
.social-section {
  background-color: var(--blue);
  color: #333;
  border-top: 2px solid var(--blue);
  padding: 20px 0 20px 0 !important;
}

.social-section h5 {
  margin-bottom: 20px;
}

.social-section p {
  margin-top: 20px;
}

.facebook-icon img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instagram-icon img {
  width: 70px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon img:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 12px rgba(104, 127, 229, 0.3);
}

